@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localizer

<div class="vertical-center">
    <center class="container">
        <h2>@Localizer["ErrorPrompt"]</h2>
    </center>
</div>
